[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
requests = "*"
azure-storage-blob = "*"

[dev-packages]
jedi = "*"
importmagic = "*"
"autopep8" = "*"
yapf = "*"
"flake8" = "*"
ptpython = "*"

[requires]
python_version = "3.6"
