[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
azure-storage-blob = "*"
prometheus-client = "*"
gunicorn = "*"
flask-cors = "*"
pydantic = "*"

[dev-packages]
flake8 = "*"
gunicorn = "*"
isort = "*"
xenon = "*"
pytest = "*"
mypy = "*"
types-flask = "*"
pytest-flask = "*"
pytest-cov = "*"
pytest-xdist = "*"
black = "*"

[requires]
python_version = "3.9"
