[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
azure-storage-blob = "*"
prometheus-client = "*"

[dev-packages]
flake8 = "*"
gunicorn = "*"
black = "*"

[pipenv]
allow_prereleases = true
